name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up CMake
      run: cmake .
    - name: Build
      run: make
    # - name: Run Tests
    #   run: make check
    # - name: Check Distribution
      # run: make distcheck
